title{
  color: grey;
  padding: 5px;
  font-weight: bold;
  background: url(https://as1.ftcdn.net/v2/jpg/03/16/55/02/1000_F_316550206_zCjSYiLsDuFSwJt29NEEHp59D5Cxj0fZ.jpg);
}


h1{
  color: blue;
  background-color: purple:
}
