h1.title {
  color: grey;
  padding: 5px;
  font-weight: bold;
  font: Copperplate;
  border-color: white;
}


h1.description{
  color: grey;
  font: Brush Script MT;
  background-color: purple;
  

}

button{
  padding: 5px;
  font: Georgia;
  color: lightblue;
  border-style: outset
  border-width: 5px
}
